#dayview-container {
        width: 450px;
        height: 280vmin;
        overflow-y: scroll;
        /* position: absolute; */
        -webkit-backface-visibility: visible;
        transform-origin: top left;
        -webkit-transform: rotateX(62deg) rotateZ(330deg);
        backface-visibility: visible;
        transform: rotateX(62deg) rotateZ(330deg);

}

.time-block{
    background-color: white;
    border-top: 1px solid lightgray;
    padding: 0.5em;
    position: absolute;
    font-size: 2em;
    color: darkgray;
    height: 15rem;
    width: 400px;
    box-sizing: border-box;
}

#time-marker{
    height: 5px;
    border-radius: 5px;
    width: 100%;
    position: absolute;
    background-color: orange;
    margin-top: -20px;
    margin-left: 20px;
    box-shadow: #ffa500de -14px 19px 30px 3px;
    z-index: 10;
}



.work-block-container{
    height: 15rem;
    width: 400px;
    box-sizing: border-box;
   
    position: absolute;
    z-index: 2;
    
    margin-left: 8px;
    box-sizing: border-box;
}
.work-block{
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
    height: 90%;
    margin-top: 50px;
    background-color: #d2ddeaa8;
    backdrop-filter: blur(12px);
    box-shadow: #b8c4d1 -5px 5px 9px 0px;
    font-size: 2.5em;
    border-radius: 20px;
    border: 1px solid white;
}
#worklogs-container :nth-last-child(1){
    z-index: 11;
}
#worklogs-container :nth-last-child(1) .work-block{
    background-color: #99c9ffb4;
    margin-left: 22px;
    /* margin-top: -1px; */
    margin-top: 42px;
    transform: scale(1.02);
    box-shadow: #a7ccf5bd -24px 18px 14px 0px;
}




#scroll-container{
    position: absolute;
    left: -20rem;
    top: 5rem;
}




/* QR */
#qr-container{
    position: fixed;
    top: 1em;
    right: 1em;
    width: 48vw;
    height: 45vh;
    background: #0000008a;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 20;
    border-radius: 20px;
    backdrop-filter: blur(12px);
    justify-content: space-around;
    padding: 2em;
    box-sizing: border-box;
}

#qr-code{
    /* background-color: black; */
    padding: 1em;
    border-radius: 20px;
    height: 50%;
}

#title{
    font-size: 4em;
    font-weight: bolder;
    text-align: right;
    color: white;
}



body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    overflow: clip;
}
html{
    font-size: 10px;
    overflow: clip;
}