#dayview-container {
        width: 450px;
        height: 280vmin;
        overflow-y: scroll;
        /* position: absolute; */
        -webkit-backface-visibility: visible;
        transform-origin: top left;
        -webkit-transform: rotateX(62deg) rotateZ(330deg);
        backface-visibility: visible;
        transform: rotateX(62deg) rotateZ(330deg);

        scroll-behavior: smooth;
}

.time-block{
    background-color: white;
    border-top: 1px solid lightgray;
    padding: 0.5em;
    position: absolute;
    font-size: 2em;
    color: darkgray;
    height: 15rem;
    width: 400px;
    box-sizing: border-box;
}

#time-marker{
    
    position: absolute;
    
    margin-top: -20px;
    margin-left: 20px;
    width: 100%;
    z-index: 10;
}
#time-marker-line{
    background-color: orange;
    box-shadow: #ffa500de -14px 19px 30px 3px;
    height: 5px;
    border-radius: 5px;
    width: 89%;
    display: inline-block;
   margin-bottom: 5px;
}

#time-marker-circle{
    width: 10%;
    background-color: orange;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-left: -2px;
    border-radius: 20px;
}



.work-block-container{
    height: 15rem;
    width: 400px;
    box-sizing: border-box;
   
    position: absolute;
    z-index: 2;
    
    margin-left: 8px;
    box-sizing: border-box;
}
.work-block{
    color: #7392b5;
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    height: 90%;
    background-color: #d5e2f0;
    /* background-color: #d2ddeaa8; */
    /* backdrop-filter: blur(12px); */
    box-shadow: #b8c4d1 -5px 5px 9px 0px;
    font-size: 2.5em;
    border-radius: 20px;
    border: 1px solid white;
    opacity: 0;
    margin-left: 30px;
    animation: fade-in 0.5s  0.25s forwards;
}

.work-block-time{
    position: absolute;
    bottom: 1em;
    left: 1em;
    font-size: 0.8em;
    opacity: 0.5;
}

.work-block-duration{
    position: absolute;
    right: 1em;
    bottom: 1em;
    font-size: 0.8em;
}

@keyframes fade-in{
    from{
        opacity: 0;
        margin-left: 30px;
    }
    to{
        opacity: 1;
        margin-left: 0px;
    }
}
#worklogs-container :nth-last-child(1){
    z-index: 11;
    margin-left: 22px;
}
#worklogs-container :nth-last-child(1) .work-block{
    background-color: #99c9ff88;
    backdrop-filter: blur(12px);
    
    margin-top: -27px;
    transform: scale(1.02);
    box-shadow: #a7ccf5bd -30px 40px 14px 0px;
    color: #2e3946;
}




#scroll-container{
    position: absolute;
    left: -20rem;
    top: 5rem;
}



#watch-container{
    -webkit-transform: rotateX(62deg) rotateZ(330deg);
    backface-visibility: visible;
    transform: rotateX(62deg) rotateZ(330deg);
    width: 70em;
    height: 70em;
    left: 8em;
    top: 6em;
    position: absolute;
    z-index: -1;
}

.circle{
    width: 100%;
    height: 100%;
    background-color: #130d02;
    box-shadow: inset 1em 0em 3em 0px #b7856080, inset -2em 0em 2em 0px #2d1b026b;
    border-radius: 100%;
}

#watch-date{
    color: #b9a591;
    position: absolute;
    font-size: 2em;
    top: 15em;
    left: 2.75em;
    font-family: monospace;
    border: 1px solid #6b5437;
    padding: 0.5em;
    border-radius: 12px;
}


/* QR */
#qr-container{
    position: fixed;
    top: 1em;
    right: 1em;
    width: 48vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 20;
    border-radius: 20px;
    gap: 1em;
    padding: 2em;
    box-sizing: border-box;
}

#qr-code{
    /* background-color: black; */
    padding: 1em;
    border-radius: 20px;
    height: 50%;
    background: #0000008a;
     backdrop-filter: blur(12px);
}

#title{
    font-size: 4em;
    font-weight: bolder;
    text-align: right;
    color: white;
}

/* User side */
.center-objects{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

#form-container{
    width: min(80vw, 500px);
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}


#easytime-container{
    position: fixed;
    left: 1em;
    bottom: 1em;
    display: flex;
    flex-direction: column;
    z-index: 20;
    border-radius: 20px;
    justify-content: space-around;
    padding: 2em;
    box-sizing: border-box;
}

#easytime-title, #dayview-title{
    font-size: 4em;
    font-weight: bolder;
    color: white;
}


#form-container h1{
    display: block;
    font-size: 5em;
    font-weight: 800;
    color: white;
    margin: 0;
    text-align: left;
    width: 100%;
}



#worklog-card{
    width: 80%;
    background-color: #bedcff;
    background: linear-gradient(343deg, #99c9ff, #cfe6ff);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: 1px solid white;
    box-shadow: 0px 20px 80px rgb(156 196 240 / 32%), 3px 8px 12px rgb(255 255 255 / 18%);
}
#worklog-card span{
    text-align: right;
    margin-right: 0.5em;
    font-size: 1.8em;
    color: #6c86a2;
    font-weight: bold;
}
#worklog-input{
    height: 3em;
    background-color: transparent;
    padding: 0.5em;
    border: 0;
    font-size: 2em;
    width: 100%;
    box-sizing: border-box;
}

#worklog-input:focus{
    outline: 0;
}

#worklog-submit{
    width: 120px;
    background-color: white;
    color: black;
    font-size: 2em;
    font-weight: bolder;
    padding: 0.5em;
    margin-left: auto;
    text-align: center;
    border-radius: 100px;
    margin-top: 0.5em;
}






/* ================== */

body{
    background-color: black;
    font-family: 'Gantari', 'Roboto', sans-serif;
    overflow: clip;
    /* Pattern */
    background-color: #000000;
    background-image:  linear-gradient(30deg, #0c0c0c 12%, transparent 12.5%, transparent 87%, #0c0c0c 87.5%, #0c0c0c), linear-gradient(150deg, #0c0c0c 12%, transparent 12.5%, transparent 87%, #0c0c0c 87.5%, #0c0c0c), linear-gradient(30deg, #0c0c0c 12%, transparent 12.5%, transparent 87%, #0c0c0c 87.5%, #0c0c0c), linear-gradient(150deg, #0c0c0c 12%, transparent 12.5%, transparent 87%, #0c0c0c 87.5%, #0c0c0c), linear-gradient(60deg, #0c0c0c77 25%, transparent 25.5%, transparent 75%, #0c0c0c77 75%, #0c0c0c77), linear-gradient(60deg, #0c0c0c77 25%, transparent 25.5%, transparent 75%, #0c0c0c77 75%, #0c0c0c77);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}
html{
    font-size: 10px;
    overflow: clip;
}



@media screen and (max-width: 1000px){ /* Mobile */
    #qr-container{
        bottom: 1em;
        left: 1em;
        right: unset;
        top: unset;
        align-items: flex-start;
        width: 80vw;
        flex-direction: column-reverse;
    }

    #title{
        font-size: 3em;
        font-weight: bolder;
        text-align: left;
        color: white;
    }


    #easytime-container{
        display: none;
    }


}